table{
    width: 100%;
    border-collapse:collapse ;
}
th,td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    color: white;
}
td{
    background-color: aquamarine;
}
th{
    background-color: aquamarine;
}