table{
    width: 100%;
    border-collapse:collapse ;
}
th,td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    color: white;
}
td{
    background-color: rgb(208, 127, 255);
}
th{
    background-color: rgb(10, 10, 9);
}